<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :datescope, params[:datescope] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "guests_of_honor" %></th>
      <th>Phone Number</th>
      <th><%= sortable "date_of_event" %></th>
      <th><%= sortable "date_booked" %></th>
      <th>Type of event</th>
      <th>Minimum guarantee</th>
      <th>Amount of guests</th>
      <th>Base price</th>
      <th><%= sortable "payment_1_date" %></th>
      <th><%= sortable "payment_2_date" %></th>
      <th><%= sortable "final_payment_date" %></th>
      <th><%= sortable "menu" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.guests_of_honor %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.date_of_event %></td>
        <td><%= client.date_booked %></td>
        <td><%= client.type_of_event %></td>
        <td><%= client.minimum_guarantee %></td>
        <td><%= client.amount_of_guests %></td>
        <td><%= client.base_price %></td>
        <td><%= client.payment_1_date %></td>
        <td><%= client.payment_2_date %></td>
        <td><%= client.final_payment_date %></td>
        <td><%= client.menu %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @clients %>
