<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "guests_of_honor", "Guests Of Honor" %></th>
      <th>Date of event</th>
      <th>Date booked</th>
      <th>Type of event</th>
      <th>Minimum guarantee</th>
      <th>Amount of guests</th>
      <th>Base price</th>
      <th>Additional charges</th>
      <th>Deposit</th>
      <th>Payment 1 date</th>
      <th>Payment 2 date</th>
      <th>Final payment date</th>
      <th>Payment 1</th>
      <th>Payment 2</th>
      <th>Menu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.guests_of_honor %></td>
        <td><%= client.date_of_event %></td>
        <td><%= client.date_booked %></td>
        <td><%= client.type_of_event %></td>
        <td><%= client.minimum_guarantee %></td>
        <td><%= client.amount_of_guests %></td>
        <td><%= client.base_price %></td>
        <td><%= client.additional_charges %></td>
        <td><%= client.deposit %></td>
        <td><%= client.payment_1_date %></td>
        <td><%= client.payment_2_date %></td>
        <td><%= client.final_payment_date %></td>
        <td><%= client.payment_1 %></td>
        <td><%= client.payment_2 %></td>
        <td><%= client.menu %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @clientse %>
