<%= form_for(@client, :html => {class: 'form-inline'}) do |f| %>
  <div class='form-group'><% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name  %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :guests_of_honor %>
    <%= f.text_field :guests_of_honor, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date_of_event %>
    <%= f.date_select :date_of_event, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :date_booked %>
    <%= f.date_select :date_booked, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :type_of_event %>
    <%= f.text_field :type_of_event, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :minimum_guarantee  %>
    <%= f.number_field :minimum_guarantee, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :amount_of_guests %>
    <%= f.number_field :amount_of_guests, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :base_price  %>
    <%= f.text_field :base_price, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :additional_charges  %>
    <%= f.text_field :additional_charges, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :deposit %>
    <%= f.text_field :deposit, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :payment_1_date %>
    <%= f.date_select :payment_1_date, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :payment_2_date %>
    <%= f.date_select :payment_2_date, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :final_payment_date %>
    <%= f.date_select :final_payment_date, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :payment_1 %>
    <%= f.text_field :payment_1, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :payment_2  %>
    <%= f.text_field :payment_2, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :menu  %>
    <%= f.date_select :menu, order: [:month, :day, :year] %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", name: nil, class: 'btn btn-default' %>
  </div>
</div>
<% end %>
