%p
  %strong= "Name: #{@client.name}"
%p
  %strong= "Guest of Honor: #{@client.guests_of_honor}"
%p
  %strong= "Phone Number: #{@client.phone_number}"
%p
  %strong= "Date Of Event: #{@client.date_of_event}"
%p
  %strong= "Date Booked: #{@client.date_booked}"
%p
  %strong= "Type Of Event: #{@client.type_of_event}"
%p
  %strong= "Minimum Guarantee: #{@client.minimum_guarantee}"
%p
  %strong= "Amount Of Guests: #{@client.amount_of_guests}"
%p
  %strong= "Base Price: #{@client.base_price}"
%p
  %strong= "Additional Charges: #{@client.additional_charges}"
%p
  %strong= "Deposit: #{@client.deposit}"
%p
  %strong= "Payment 1 Date: #{@client.payment_1_date}"
%p
  %strong= "Payment 2 Date: #{@client.payment_2_date}"
%p
  %strong= "Final Payment Date: #{@client.final_payment_date}"
%p
  %strong= "Payment 1: #{@client.payment_1}"
%p
  %strong= "Payment 2: #{@client.payment_2}"
%p
  %strong= "Menu: #{@client.menu}"

= link_to 'Edit', edit_client_path(@client)
= link_to 'Back', clients_path
