%h2 Current month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - CommissionDecorator.decorate_collection(current_user.positive_adjustments(type: 'new_events', month: 'this_month')).each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.new_party_commission
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - CommissionDecorator.decorate_collection(current_user.positive_adjustments(type: 'current', month: 'this_month')).each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.positive_adjustment_commission
%div.total_commission= "Total: #{number_to_currency current_user.this_month_commission}"
%br
%h2 Last Month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - CommissionDecorator.decorate_collection(current_user.positive_adjustments(type: 'new_events', month: 'last_month')).each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.new_party_commission
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - CommissionDecorator.decorate_collection(current_user.positive_adjustments(type: 'current', month: 'last_month')).each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.positive_adjustment_commission
%div.total_commission= "Total: #{number_to_currency current_user.last_month_commission}"
