%h2 Current month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - current_user.positive_adjustments(type: 'new_events', month: 'this_month').each do |event|
    %tr
      %td= link_to event.name, edit_client_path(event)
      %td= "#{number_to_currency compute_commission_on_new_party(event)}"
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - current_user.positive_adjustments(type: 'current', month: 'this_month').each do |event|
    %tr
      %td= link_to event.name, edit_client_path(event)
      %td= "#{number_to_currency compute_commission_on_positive_adjustment(event)}"
%div.total_commission= "Total: #{number_to_currency current_user.this_month_commission}"
%br
%h2 Last Month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - current_user.positive_adjustments(type: 'new_events', month: 'last_month').each do |event|
    %tr
      %td= link_to event.name, edit_client_path(event)
      %td= "#{number_to_currency compute_commission_on_new_party(event)}"
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - current_user.positive_adjustments(type: 'current', month: 'last_month').each do |event|
    %tr
      %td= link_to event.name, edit_client_path(event)
      %td= "#{number_to_currency compute_commission_on_positive_adjustment(event)}"
%div.total_commission= "Total: #{number_to_currency current_user.last_month_commission}"
