%h2 Current month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - @commissions.new_events_this_month.each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.new_party_commission
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - @commissions.current_events_this_month.each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.positive_adjustment_commission
%div.total_commission= "Total: #{number_to_currency current_user.this_month_commission}"
%br
%h2 Last Month:
%h3 New Events:
%table.table
  %th Name
  %th Commission
  - @commissions.new_events_last_month.each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.new_party_commission
%h3 Positive Adjustments:
%table.table
  %th Name
  %th Commission
  - @commissions.current_events_last_month.each do |event|
    %tr
      %td= event.edit_event_link
      %td= event.positive_adjustment_commission
%div.total_commission= "Total: #{number_to_currency current_user.last_month_commission}"
