%div.row
  - six_week_start_dates.each do |date|
    %div.col-md-12#todo
      %h2.center= date_span(date)
      %div.col-md-4
        %h4 Payments
        - @clients.payments(date).each do |client|
          %li= "#{client.name} - #{client.date_of_event}"
      %div.col-md-4
        %h4 Finals
        - @clients.finals(date).each do |client|
          %li= "#{client.name} - #{client.menu}"
      %div.col-md-4
        %h4 Counts
        - @clients.counts(date).each do |client|
          %li= "#{client.name} - #{client.date_of_event}"
