%header.navbar.navbar-default
  %div.container-fluid
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li{class: set_active[0]}= link_to 'Main Page', root_path
          %li{class: set_active[1]}= link_to 'Six Week Schedule', todolist_path
          %li{class: set_active[2]}= link_to 'New Client', new_client_path
          %li{class: set_active[3]}= link_to 'Commissions', commissions_path
          %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - else
          %li= link_to 'Create an Account', sign_up_path

