<div class='row'>
  <div class='col-md-4'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class='col-md-4 col-md-offset-4'>
    <% if user_signed_in? %>
      <table class= 'table'>
        <tr>
          <td><%= link_to 'Main Page', root_path %></td>
          <td><%= link_to 'Six Week Schedule', todolist_path %></td>
          <td><%= link_to 'New Client', new_client_path %></td>
          <td><%= link_to 'Commissions', commissions_path %></td>
          <td><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
